body {
  align-items: center;
  background-color: black;
  background-image: url('../images/star-wars-bg.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 400px;
}

.logo-img {
  width: 250px;
}

header {
  padding: 30px 2%;
  text-align: center;
}

header p {
  color: white;
  font-size: 14px;
  letter-spacing: 9px;
}

.table-container {
  margin-top: 50px;
  max-height: 320px;
  max-width: 960px;
  overflow: scroll;
}

table {
  border-collapse: collapse;
  color: white;
  font-size: 14px;
  text-align: left;
  width: 100%;
}

table th {
  background-color: #2e3035;
  padding: 20px;
}

table td {
  border-bottom: 1px solid white;
  padding: 20px;
}

.applied-filters-container {
  color: white;
}

.numeric-value-filter {
  color: white;
}
